.user-form {
    display: flex;
    flex-direction: column;
    margin: 4rem;
}

.user-form > form {
    display: flex;
    flex-direction: column;
}

.user-form > form > label {
    font-weight: 500;
}

.user-form > form > input, .user-form > form > select {
    margin: 0.2rem 0 1rem 0;
    padding: 0.5rem;
    font-size: 14px;
    border-radius: 7px;
    border: 1px solid #D0D5DD;
}

.user-form > form > div {
    display: flex;
    flex-direction: flex-end;
}

.btn {
    font-size: 14px;
    padding: 0.5rem;
    border-radius: 10px;
}

.btn-cancel {
    border: 1px solid #D0D5DD;
    background-color: #FFFFFF;
    color: #344054;
}

.btn-submit {
    border: 1px solid #684CE2;
    color: #FFFFFF;
    background-color: #684CE2;
}

