.user-form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.user-form > form {
    display: flex;
    flex-direction: column;
}

.user-form > form > input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 14px;
    border-radius: 7px;
}