.table-container {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

.table-header, .table-content {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr 1fr 1fr;
    
}

.table-header {
    background-color: #F9FAFB;
    border-bottom: 1px solid #D0D5DD;
}

.table-content {
    border-bottom: 1px solid #D0D5DD;
    background-color: #FFFFFF;
}

.table-content:last-of-type {
    border-bottom: 0;
}


.table-header h1 {
    font-size: 16px;
    font-weight: 600;
    color: #656B75;
    margin: 1rem 0 1rem 1.5rem;
}

.table-content p {
    margin: 0.5rem 0 0.5rem 1.5rem;
    font-size: 16px;
    color: #656B75;
}