body {
	background-color: #f6f8fb;
	position: relative;
}

.dashboard {
	min-height: 100vh;
	display: flex;
}
.dash-navbar {
	top: 0;
	flex-basis: 20%;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #dfdfdf;
	border-bottom: 0;
}

.dash-main {
	padding-top: 20px;
	padding-left: 20px;
	text-align: left;
	position: relative;
}

.dash-main span {
	font-size: 12px;
	position: absolute;
	padding-left: 10px;
}

.dash-main img {
	background-color: white;
	border: 2px solid #684CE2;
	width: 20px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 10px;
	box-shadow: 2px 3px 4px #b3b3b3;
}

.dash-list {
	text-align: left;
	padding-top: 20px;
}

.dash-list p {
	font-size: 12px;
	color: #667085;
	padding-left: 20px;
}

.dash-1 {
	font-size: 14px;
}

.dash-1 li {
	list-style-type: none;
	min-height: 40px;
	padding: 10px 0;
	transition: background-color 0.2s ease-in-out;
  height: 50px;
}

.dash-1 a {
	display: flex;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.dash-1 a:hover {
	background-color: rgba(104, 76, 226, 0.1);
	height: 50px;
}

.dash-1 a:active,
.dash-1 .active {
	height: 50px;
	background-color: rgba(104, 76, 226, 0.1);
	border-left: 5px solid #684CE2;
	font-weight: bold;
	color: #344054;
    height: 50px;
}

.dash-1 span {
	padding-left: 10px;
	display: inline-block;
	vertical-align: middle;
	flex-direction: column;
}

.dash-1 .inactive {
	color: #A9AEB8;
}

.dash-1 img {
	margin-right: 10px;
	padding-left: 30px;
}

.dash-1 li a {
	display: flex;
	align-items: center;
  height: 50px;
}

.logout-btn button {
	padding: 10px;
	cursor: pointer;
	background-color: #f6f8fb;
	color: red;
	font-weight: bold;
	border: none;
}

.logout-btn button:hover {
	background-color: none;
}

.logout-btn {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 12px;
	padding-bottom: 20px;
	padding-left: 30px;
	display: flex;
	align-items: center;
}

.dashboard-content {
	flex-basis: 85%;
}

.dash-text span {
	text-align: right;
}

.dash-text {
	border-bottom: 2px solid#D0D5DD;
	background-color: white;
	height: 3vh;
	text-align: left;
	flex-grow: 1;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.manage-content{
	padding: 20px;
}
.dash-text span {
	font-weight: bold;
	font-size: 13px;
}

.dash-text h5 {
	margin-right: auto;
}

.dashboard-main-content {
	padding: 2rem;
}

.dash-text span {
	text-align: right;
}
.main-content{
	padding: 20px;
}
.search-bar{
    padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	margin-bottom:50px;
}
.buttons{
	display: flex;
}
.search-bar input{
    height: 25px;
    width: 200px;
    padding: 5px 5px 5px 10px;
    border: 1px solid #D0D5DD;
    border-radius: 10px;
}
.client-dropdown select{
    border: 1px solid #D0D5DD;
    width: 150px;
    margin: 0;
    margin-left: 20px;
}
.buttons button{
    height: auto;
    width: 80px;
    padding: 8px;
    border-radius: 8px;
}
.upload-btn{
    border: 1px solid #D0D5DD;
    background-color: white;
}
.add-btn{
    border: none;
    color: white;
    background-color: #684CE2;
    margin-left: 20px;
}
.customTable {
	width: 100%;
	border: 1px solid #D0D5DD;
	border-radius: 10px;
	text-align: center;
	border-collapse: collapse;
	background-color: white;
	color: #656B75;
	align-items: center;
	justify-content: center;
  }
  
  .customTableContainer {
	background-color: white;
	color: #656B75;
	border: 1px solid #D0D5DD;
	border-radius: 10px;
	text-align: center;
  }
  .customTableContent img{
	cursor: pointer;
	height:25px;
  }
  .customTableContent img:hover{
	background-color: #D0D5DD;
	border-radius: 8px;
  }
  .customTableContent img:hover{
	cursor: pointer;
  }
  .customTableContent{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	text-align: left;
	padding-left: 20px;
  }
  .customTableContent :last-child,
  .customTableHeader :last-child{
	text-align: center;
  }
  
  .customTableHeader,
  .customTableContentContainer {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	text-align: left;

  }
  
  .customTableHeader {
	background-color: #F9FAFB;
	border-bottom: 0.5px solid #A9AEB8;
  }
  
  .customTableHeader h1 {
	font-size: 16px;
	padding: 1rem;
	margin: 0;
  }
  