.project-info {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.project-info > div {
    flex-basis: 45%;
}

.project-info > div > div > label {
    font-weight: bold;
    font-size: 14px;
    color: #344054;
}

.project-info > div > div > input {
    padding: 0.5rem 1rem;
    border-radius: 7px;
}
