.view-content {
    margin: 2rem 3rem;
}

.top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.top-content h3 {
    margin: 0;
    font-size: 24px;
}

.edit-btn {
    border: 0;
    border-radius: 10px;
    padding: 0.5rem 2rem;
    background-color: #684CE2;
    color: #FFF;
}

.client-info {
    margin-bottom: 2rem;
}

.filters-row {
    margin-bottom: 1rem;
}

.project-table {
   border: 1px solid #D0D5DD;
   border-radius: 7px;
}

.project-header, .project-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    padding: 1rem;
}

.project-header {
    background-color: #F9FAFB;
    border-bottom: 1px solid #D0D5DD;
}

.project-header h1 {
    margin: 0;
    font-size: 16px;
    color: #656B75;
}

.project-content {
    background-color: #FFF;
}