body {
	background-color: #f6f8fb;
}

.dashboard {
	min-height: 100vh;
	display: flex;
}

.dash-navbar {
	top: 0;
	flex-basis: 20%;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #dfdfdf;
	border-bottom: 0;
}

.dash-main {
	padding-top: 20px;
	padding-left: 20px;
	text-align: left;
	position: relative;
}

.dash-main span {
	font-size: 12px;
	position: absolute;
	padding-left: 10px;
}

.dash-main img {
	background-color: white;
	border: 2px solid #684CE2;
	width: 20px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 10px;
	box-shadow: 2px 3px 4px #b3b3b3;
}

.dash-list {
	text-align: left;
	padding-top: 20px;
}

.dash-list p {
	font-size: 12px;
	color: #667085;
	padding-left: 20px;
}

.dash-1 {
	font-size: 14px;
}

.dash-1 li {
	list-style-type: none;
	min-height: 40px;
	padding: 10px 0;
	transition: background-color 0.2s ease-in-out;
	height: 50px;
}

.dash-1 a {
	display: flex;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.dash-1 a:hover {
	background-color: rgba(104, 76, 226, 0.1);
	height: 50px;
}

.dash-1 a:active,
.dash-1 .active {
	height: 50px;
	background-color: rgba(104, 76, 226, 0.1);
	border-left: 5px solid #684CE2;
	font-weight: bold;
	color: #344054;
	height: 50px;
}

.dash-1 span {
	padding-left: 10px;
	display: inline-block;
	vertical-align: middle;
	flex-direction: column;
}

.dash-1 .inactive {
	color: #A9AEB8;
}

.dash-1 img {
	margin-right: 10px;
	padding-left: 30px;
}

.dash-1 li a {
	display: flex;
	align-items: center;
	height: 50px;
}

.logout-btn button {
	padding: 10px;
	cursor: pointer;
	background-color: #f6f8fb;
	color: red;
	font-weight: bold;
	border: none;
}

.logout-btn button:hover {
	background-color: none;
}

.logout-btn {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 12px;
	padding-bottom: 20px;
	padding-left: 30px;
	display: flex;
	align-items: center;
}

.dashboard-content {
	flex-basis: 85%;
}

.dash-text span {
	text-align: right;
}

.dash-text {
	border-bottom: 2px solid#D0D5DD;
	background-color: white;
	height: 3vh;
	text-align: left;
	flex-grow: 1;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dash-text span {
	font-weight: bold;
	font-size: 13px;
}

.dash-text h5 {
	margin-right: auto;
}

.dash-text span {
	text-align: right;
}

.timesheet-content {
	padding: 20px;
	padding-top: 30px;
}

.filter {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.filter select {
	width: 130px;
	height: 51px;
	margin: 0;
	border: 1px solid #D0D5DD;
}

.filter button {
	border-radius: 50%;
	width: 1.8rem;
	height: 1.8rem;
	font-size: 20px;
	text-align: center;
	border: 0;
	background-color: #684CE2;
	color: #FFFFFF;
	padding: 0;
}

.filter button:hover {
	cursor: pointer;
}

.filter button:disabled {
	background-color: #d6ccff;
	cursor: default;
}

.filter>* {
	margin-right: 1rem;
}

.filter span {
	font-weight: bold;
}

table {
	width: 100%;
	border: 1px solid #D0D5DD;
	border-radius: 10px;
	text-align: center;
	border-collapse: collapse;
	background-color: white;
	color: #656B75;
	align-items: center;
	justify-content: center;
}

.tableContainer {
	background-color: white;
	color: #656B75;
	border: 1px solid #D0D5DD;
	border-radius: 10px;
	text-align: center;
}

.tableHeader {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	border-bottom: 1px solid #D0D5DD;

}

.tableHeader {
	background-color: #F9FAFB;
	border-bottom: 0.5px solid #A9AEB8;
}

.tableHeader h1 {
	font-size: 16px;
	padding: 1rem;
	margin: 0;
	background-color: #F9FAFB;
}

.table-title,
.tableHeader,
.tableContent {
	border-bottom: 1px solid #D0D5DD;
}

.table-title h3 {
	text-align: left;
	padding-left: 20px;
	color: #684CE2;
}

.vertical-container {
	display: flex;
}

.vertical-container-header {
	flex-basis: 15%;
}

.vertical-container-header p {
	text-align: left;
	padding-left: 30px;
	font-weight: bold;
}

.vertical-container-content {
	flex-basis: 85%;
	display: grid;
	grid-template-columns: repeat(1fr, 7);
	grid-template-rows: repeat(1fr, 5);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.vertical-container p:first-of-type {
	background-color: #F9FAFB;
	margin: 0;
	padding: 1rem;
	font-weight: bold;
	border-bottom: #D0D5DD;
}

.Sunday {
	grid-area: 1 / 1 / 6 / 2;
}

.Monday {
	grid-area: 1 / 2 / 6 / 3;
}

.Tuesday {
	grid-area: 1 / 3 / 6 / 4;
}

.Wednesday {
	grid-area: 1 / 4 / 6 / 5;
}

.Thursday {
	grid-area: 1 / 5 / 6 / 6;
}

.Friday {
	grid-area: 1 / 6 / 6 / 7;
}

.Saturday {
	grid-area: 1 / 7 / 6 / 8;
}