/* In the future, maybe this can be transferred into one css file */

.table-container {
    border-radius: 7px;
    border: 1px solid #D0D5DD;
}

.six-col {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr 1fr;
    border-bottom: 1px solid #D0D5DD;
    padding-left: 1rem;
}

.header {
    background-color: #F9FAFB;
    border-radius: 10px 10px 0px 0px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.header > h1 {
    font-weight: 600;
    font-size: 16px;
    color: #656B75;
    display: flex;
    align-items: center;
}

.data {
    background-color: #FFFFFF;
}

.data > p {
    font-size: 16px;
    color: #656B75;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.header >h1:last-of-type, .data > p:last-of-type {
    justify-content: center;
}

.data:last-of-type {
    border-radius: 0 0 10px 10px;
    border-bottom: 0;
}

.search-bar {
    display: flex;
}